<html>
<style>
body {width: 95%

}
<style>
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%
}

h1 {
  color: floralwhite;
  font-family: cursive;
  font-size: 55px;}
   
<div class="row">
  <div class="column"></div>
  <div class="column"></div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}
img {
    height:500px
}
* {
  box-sizing: border-box;
}

 h1 {
  color: floralwhite;
  font-family: cursive;
  font-size: 55px;
text-align: center}
/* two equal columns next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  color: floralwhite;
  font-family: arial narrow;
  font-size: 15px;
  text-align: center;
clear:both
    }

p {
  color: black;
  font-family: monospace;
  font-size: 15px;
}

h2 {
  color: floralwhite;
  font-family: cursive;
  font-size: 25px;
}
 ul {
  color: black;
  font-family: arial narrow;
  font-size: 15px;

}
dt { color: black
 font-family: arial narrow;
  font-size: 15px}
li  {
    display: inline-block;
    text-align: center
        padding: 14px 16px;
    background-color: powderblue;
    width: 16%;
    font-size: 40px;
}

h3 {
  color: floralwhite;
  font-family: cursive;
  font-size: 25px;
}

h4 {
  color: floralwhite;
  font-family: cursive;
  font-size: 25px;
}

a {
  color: floralwhite;
  font-family: arial narrow;
  font-size: 15px;
}

footer {
  color: floralwhite;
  font-family: arial narrow;
  font-size: 15px;
  text-align: center;
clear:both
}

</style>

