<!DOCTYPE html>
<html lang="en">

<style>

header img {
    text-align: center;
}
    
#main-header {
}

nav {
    overflow: hidden;
    background-color: transparent;
    font-family: fantasy;
}

nav a {
    color: black;
    display: inline-flex;
    font-size: 1.4em;
}

nav a:hover {
  color: firebrick;
}

nav li {
    padding: 20px 20px;
    margin: 5px 5px; 
    font-size: 10px; 
    height: 10px;
    list-style-type: none;
    display: inline-block;
}
.main-header{ 
    text-align: center;   
}

.body {
    background-color: #B7CEEC;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:"header header"
                        "form faq" 
                        "articles aside";
}

h1{
    font-family:  cursive;
}

p{
    font-family: sans-serif;
}

.card {
    background-color: #B7CEEC;
    max-width:auto;
    max-height:auto;
    margin: 5px;
    padding: 5px;
    display:flex;
    border-spacing: 10px;
}

.container-1 div {
    border: 5px #ccc solid;
    padding:10px;
    margin:10px;
    max-width: auto;
    overflow: auto;
    
}

.container {
    display:flex;
    max-width:auto;
    margin: 1;
    overflow: auto;
    flex:1;
    padding:25;
    background-color: #B7CEEC;
}
.box {
    display:flex;
    text-align: center;
    justify-content: space-between;
}

.gallery {
    width:auto;
    flex:1;
    padding: 15;
     background-color: #B7CEEC;
}

.gallery img {
    width: 100%;
    height: auto;
    flex:1;
    padding:15px;
     background-color: #B7CEEC;
}

.desc{
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

.article {
    width: 40%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-size: 23px
}

.aside {
    font size: 0.9em;
    display: block;
    width: 50%;
    padding-left: 15px;
    margin-left: 15px;
    background-color: transparent;
    display:flex;
}
.footer {
      text-align: center;
}

</style>